.swipeOutLeft {
  -webkit-animation: swipeOutLeftAnim 0.7s forwards;
  animation: swipeOutLeftAnim 0.7s forwards; }

@-webkit-keyframes swipeOutLeftAnim {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); } }

@keyframes swipeOutLeftAnim {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); } }
