* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: $site-black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  // margin-bottom: 16px;
}

#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  color: $site-white;
  font-family: $font-arvo;
  text-align: center;
  margin: 0 5px;
  height: 87px;
  padding-top: 60px;
  font-size: 20px;
  letter-spacing: 1px;
  //background-color: green;
}
h3 {
  color: $site-white;
  font-family: $font-arvo;
  text-align: center;
  margin: 5px;
  letter-spacing: 7px;
  font-size: 18px;
  font-weight: 100;
}
h4 {
  color: saddlebrown;
  font-family: $font-arvo;
  text-align: center;
  margin: 3px;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 100;
}
