// variables for site colors
$site-black: rgb(10, 10, 15);
$site-darkgray: rgb(30, 30, 35);
$site-mediumgray: rgb(70, 70, 75);
$site-gray: rgb(100, 100, 105);
$site-white: rgb(245, 245, 250);

$site-bluegray: rgb(50, 70, 90);
$site-blue: rgb(0, 0, 150);
$site-red: rgb(150, 0, 0);

// variables for site fonts
$font-arvo: "Arvo", serif;
$font-barlow: "Barlow", sans-serif;
