footer {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  font-family: $font-barlow;
  color: $site-white;
  background-color: rgba($site-darkgray, 0.95);

  a {
    font-size: 25px;
    text-decoration: none;
    &:visited {
      color: $site-white;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
